/***************/
/***Main Tags***/
/***************/
html{
	background: 				url(../images/wp_bg.jpg) no-repeat center center fixed;

	font-family: 				"Roboto Slab";

  	background-size: 			cover;
  	-moz-background-size: 		cover;
  	-o-background-size: 		cover;
	-webkit-background-size: 	cover;
}

code{
	font-family: 				monospace;
}
/*****************/
/*******END*******/
/*****************/



/***********************/
/***Buttons | Submits***/
/***********************/
button,
input[type=submit]{
	background: 	#FFF;

	border-radius: 	10px;
	border:			2px solid #000;	

	font-family: 	"Roboto Slab", Tahoma, sans-serif;

	padding: 		5px 10px;
}

button:hover,
input[type=submit]:hover{
	box-shadow: 	0 0 10px #FFF;

	cursor: 		pointer;
}

button:active,
input[type=submit]:active{
	box-shadow: 	2px 2px #BABABA;
}
/*****************/
/*******END*******/
/*****************/



/***********************/
/***Sidebar Accordion***/
/***********************/
div.ui-accordion-content > li{
	list-style: 			square;

	text-shadow: 			2px 2px 2px #000;
}

div.ui-accordion-content > li > a{
	color: 					#FFF;
	font-size: 				10pt;
	text-decoration: 		none;

	transition: 			color .4s;
	-webkit-transition: 	color .4s;
}

div.ui-accordion-content > li > a:hover{
	color: 					#F00;
}

div.ui-accordion-content > li:nth-child(4n) > a:hover{
	color: 					#FF0 !important;
}

div.ui-accordion-content > li:nth-child(3n) > a:hover{
	color: 					#00F;
}

div.ui-accordion-content > li:nth-child(2n) > a:hover{
	color: 					#0F0;
}
/*****************/
/*******END*******/
/*****************/



/****************/
/***Navigation***/
/****************/
li.menu-item{
	float: 				left;

	height: 			50px;
	line-height: 		50px;
	width: 				150px;

	text-align: 		center;
}

li.menu-item > a{
	display: 			block;
	
	height: 			50px;
	
	color: 				#FFF;
	font-family: 		sans-serif;
	text-decoration: 	none;
	
	outline: 			none;

	transition: 		color .4s;
	-webkit-transition: color .4s;
}

li.menu-item a:hover{
	color: 				#F00;
}

li.menu-item:nth-child(4n) a:hover{
	color: 				#FF0 !important;
}

li.menu-item:nth-child(3n) a:hover{
	color: 				#00F;
}

li.menu-item:nth-child(2n) a:hover{
	color: 				#0F0;
}

nav{
	background: 		 #222;
	opacity: 			 .8;

	border-bottom-color: #F00;
	border-bottom-style: solid ;
	border-bottom-width: 4px;

	clear: 				 both;

	height: 			 50px;
	width: 				 100%;
	
	position: 			 fixed;
	
	text-align: 		 center;
	text-shadow: 		 2px 2px 2px #000;
	
	z-index: 			 999;
}

#archive_container{
	padding: 			 0 0 35px 15px;
}

.current-menu-item{
	font-size: 			16pt;
	font-weight: 		bold;
}

.menu{
	display: 			inline-block;
}

.menu-spacer{
	height: 			70px;
	width: 				100%;
}

.sub-menu{
	background: 		rgba(0, 0, 0, 1);

	display: 			none;

	height: 			100%;

	z-index: 			1000;
}

.sub-menu > li{
	background: 		#000;
	border-color: 		#F00;

	border-left-width: 	4px;
	border-right-width: 4px;
	border-style: 		solid;

	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	font-size: 			12pt !important;
}

.sub-menu > li:last-child{
	border-bottom-width: 	4px;
}
/*****************/
/*******END*******/
/*****************/


/****************/
/***Front Page***/
/****************/
#blog_description{
	color: 			#FFF;
	font-family: 	sans-serif;
	font-weight: 	bolder;
	font-size: 		12pt;

	text-align: center;
}

#blog_info{
	display: 		table-cell;
	vertical-align: middle;

	margin-bottom: 	30px;

	text-align: 	center;
	text-shadow: 	#000 2px 2px 2px;
}

#blog_title{
	color: 			#FFF;
	font-family: 	"PinyonScript", sans-serif;
	font-size: 		50pt;

	height: 		100px;
	line-height: 	100px;
	
	text-align: 	center;
}

#shade-wrapper{
	background: 		rgba(0, 0, 0, .6);

	border-radius: 		10px;

	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	display: 			inline-block;

	min-width: 			50%;

	padding: 			50px;

	transition: 		background .5s;
	-webkit-transition: background .5s;
}

#shade-wrapper:hover{
	background: 		rgba(0, 0, 0, 1);
}
/*****************/
/*******END*******/
/*****************/



/*************/
/***Content***/
/*************/
#content_column{
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	margin: 			0 10px;
	
	min-height: 		250px;
	
	width: 				75%;
}

#main_frame{
	display: 			table;

	height: 			100%;
	width: 				100%;

	overflow-y: 		hidden;
	
	position: 			absolute;
}
/*****************/
/*******END*******/
/*****************/


/*************/
/***Sidebar***/
/*************/
#login_box{
	min-height: 	80px;
	width: 			100%;
	
	padding-bottom: 25px;
	padding-top: 	25px;
}

#loginform{
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	text-align: 		center;

	width: 				100%;
}

#loginform label{
	display: 		block;

	margin-top: 	10px;
}

#loginform input[type=submit]{
	margin-top: 	5px;
}

#loginform input[type=text],
#loginform input[type=password]{
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	box-shadow: 		0px 0px 15px #FFF;

	width: 				95%;
}

#login_form_container{
	padding: 		20px 0;

	text-shadow: 	2px 2px 2px #000;
}

#reglink{
	margin-top: 	10px;

	text-align: 	center;
	text-shadow: 	0 0 2px #0F0;
}

#reglink a{
	color:  		#0F0;
	text-shadow: 	none;
}

#sidebar{
	background: 		rgba(0, 0, 0, .6);

	border-radius: 		10px;
	border: 			4px solid #8A8A8A;

	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	margin: 			0 10px;

	position: 			fixed;

	width: 				20%;
}
/*****************/
/*******END*******/
/*****************/


/*************/
/***Gallery***/
/*************/
.background-replace{
	background: 	#FFF;
}
/*****************/
/*******END*******/
/*****************/



/**************/
/***Comments***/
/**************/
#commentform input{
	margin-bottom: 		15px;
}

#commentform input[type=submit]{
	margin-top: 		20px;
}

#commentform label{
	text-shadow: 		2px 2px 2px #000;
}

#commentform p{
	padding: 			0 !important;
	padding-bottom: 	10px !important;
}

#respond{
	margin-top: 		40px;
}

#respond h3,
.comments h3{
	font-size: 			16pt;
	font-weight: 		bold;
	text-shadow: 		2px 2px 2px #000;

	padding: 			10px 0;
}

/**/
.comment-author{
	line-height: 		32px;

	margin-bottom: 		15px;
}

.comment-author img{
	vertical-align: 	bottom;
}

.comment-respond{
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	padding: 			0 20px;
}

.commentlist{
	overflow: 			auto;

	padding: 			5px 0;
}

.commentlist li{
	clear: 				both;

	margin: 			20px 0;
	padding-bottom: 	2px;

	overflow: 			auto;
}

.commentlist > li{
	border: 			1px dashed #FFF;
}

.comment-meta{
	font-size: 			10pt;
	text-indent: 		10px;
}

.comments{
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	padding: 			10px;
	
	width: 				100%;
}

.comments a{
	color: 				#F00;
	font-style: 		italic;

	text-decoration: 	none;
}

.comments p{
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	padding: 			10px;

	width: 				100%;
}

.depth-2, .depth-3, .depth-4, .depth-5, .depth-6, .depth-7, .depth-8, .depth-9, .depth-10{
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	float: 				right;

	width: 				95%;
}

.reply{
	font-size: 			10pt;
	text-indent: 		10px;

	padding-bottom: 	4px;
}
/*****************/
/*******END*******/
/*****************/



/**********/
/***Post***/
/**********/
.post{
	background: 		rgba(0, 0, 0, .8);

	border-radius: 		10px;
	border: 			4px solid #8A8A8A;

	margin-bottom: 		40px;
}

.post_author{
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	color: 				#F00;

	float: 				right;

	width: 				20%;
}

.post_content{
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	padding: 			5px 15px;
}

.post_footer{
	border-bottom: 		4px solid #8A8A8A;
	border-top: 		4px solid #8A8A8A;

	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	height: 			80px;
	line-height: 		72px;

	margin-top: 		25px;
	padding: 			0 20px;
	
	overflow: 			auto;
}

.post_header{
	border-bottom: 		4px solid #8A8A8A;

	clear: 				both;

	font-family: 		"Pacifico";

	line-height: 		40px;
	min-height: 		40px;

	overflow: 			hidden;

	padding: 			8px 0;

	text-shadow: 		2px 2px 2px #000;
}

.post_header:first-child{
	border-top-left-radius: 	10px;
	border-top-right-radius: 	10px;
}

.post_tags{
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;

	color: 				#FF0;

	float: 				left;

	width: 				80%;
}

.post_tags a:visited{
	color: 				#0F0;
}

.post_title{
	float: 				left;

	font-size: 			20pt;

	margin-left: 		10px;
}

.post_time{
	float: 				right;
	margin-right: 		10px;
}
/*****************/
/*******END*******/
/*****************/



/*************************/
/***Misc helper classes***/
/*************************/
.clear{
	clear: 			both;
}

.italic{
	font-style: 	italic;
}

.no-scroll{
	overflow-y: 	hidden;
}

.warn{
	color: 			#F00;
}
/*****************/
/*******END*******/
/*****************/